body {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    background-color: #fc369c;
    background-image: url("../img/pinguim.jpg");
    /* background-repeat: no-repeat; */
    /* background-position: right bottom; */
}

#menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    background-color: black;
    /* opacity: .1; */
    position: fixed;
    top: 0;
    width: 96%;
    margin: 0;
}

#menu li {
    text-align: center;
    padding: 5px
}

#menu li a {
    text-decoration: none;
    color: #b3ff02;
}

#menu li a:hover {
    color: #e13e02;
    font-size: 1.1em;
}

.linha-titulo {
    background-color: aquamarine;
}

.linha-corpo {
    background-color: rgb(148, 8, 148);
}

.linha-corpo:hover {
    background-color: rgb(145, 3, 10);
}

table,
tr,
td,
th {
    border: 5px solid;
    border-radius: 5px;
    border-color: #a459a1;
}

.folha {
    /* background-color: rgb(68, 1, 112); */
    background-image: url("../img/folha.jpg");
    height: 60px;
    width: 60px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.folhas {
    display: flex;
    justify-content: space-around;
}